@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
  
  :root{
    --background-color:#FFFAFB;
    --primary-color: #d32f2f;
    --secondary-color:black;
    --accent-color:#ff2625;
    --exercise-bg-color:white;
    --footer-bg-color: #FFF3F4;
    --toggle-bg-color:rgb(16,31,41);
  }
  body {
    font-family: 'Hahmlet', serif;
    background-color:var(--background-color);
  }
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }

  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail-image {
    width: 729px;
    height: 742px;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 5px;
    top: 32px;
    width: 659px;
    height: 836px;
    margin-top: -308px;
  }
  
  .exercise-card {
    width: 400px;
    height: 49  8px;
    background: var(--exercise-bg-color);
    border-top: 4px solid #FF2625;
    /* box-shadow: 0px 1px 7px -3px rgb(92, 78, 78); */
    box-shadow: 0px 1px 7px -3px #c499a2;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 326px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .search-btn:hover {
    border: 1px solid #FF2625 !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }
  
  .no-move-btn{
    left: 1px;
    transition: all .7s;
  }

  .move-btn{
    animation-name: moveBtn;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    left:40px
  }


  @keyframes moveBtn {
    0% {
      left:0px;
    }
    100% {
      left:40px;
    }
  }

  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }
  
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }
  
    .hero-banner-img {
      display: none;
    }
  
    .exercise-card {
      width: 320px;
    }
  
    .exercise-video {
      width: 320px;
      height: 300px;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }
